* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.logo-img {
  height: 80px; 
  width: auto; /* around 137px */
}

ul {
  list-style: none;
  margin-right: 137px;
}

a {
  text-decoration: none;
  color: #333;
}

nav {
  background: #333;
  color: #fff;
  padding: 10px 0;
}

.nav-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

nav ul li {
  padding: 0 10px;
}

nav ul li a {
  color: #fff;
  font-size: 1.2em; 
}

nav ul li a:hover {
  color: #eeeeee;
}

.nav-container ul {
  list-style: none;
  padding: 0;
}

.nav-container ul li {
  display: inline;
  margin-right: 10px;
}

.nav-container ul li a {
  color: #fff;
  text-decoration: none;
}

.logo-img {
  height: 40px;
}

.about-me {
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-me h1, .about-me h2 {
  color: #333;
}

.about-me p {
  color: #666;
  line-height: 1.6;
}

/* New styles for the layout */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.text-section {
  flex: 1;
  padding: 20px;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  width: 50%;
  height: auto;
  border-radius: 50%;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content p {
  margin: 10px 0;
}

.footer-content a {
  color: #1e90ff;
  text-decoration: none;
  margin: 0 5px;
}

.footer-content a:hover {
  text-decoration: underline;
}